<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio Viewer</title>
    <link rel="stylesheet" href="viewer-style.css" />
    <script src="axios.min.js"></script>
    <script src="viewer.js"></script>
  </head>
  <body>
    <header>
      <img src="logo.png" alt="Logo" />
      <h1>QURB REHBER</h1>
    </header>

    <audio autoplay controls id="audio"></audio>
    <button id="my-button">Yayına Dinle</button>

    <footer>
      <p>&copy; 2024 QURB | All Rights Reserved</p>
    </footer>
  </body>
</html>
