<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QURB</title>
    <link rel="stylesheet" href="style.css" />
    <script src="axios.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <header>
      <img src="logo.png" alt="Logo" />
      <h1>QURB REHBER YAYIN</h1>
    </header>
    <button class="rehber-start-button" id="my-button">Yayını Başlat</button>
    <button
      id="rec-button"
      style="display: none"
      class="Rec-button Rec"
    ></button>
    <div id="status-message"></div>
  </body>
</html>
